/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./scss/sb-admin.scss";

.bg
{  
    background: url('/assets/bg1.jpg') fixed;
    background-size: cover;
    /* right: auto; */
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    width: 110%;
    height: 100%;
    
}
